@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: "Palatino", serif;
}

.task-list-item input {
  margin: 0;
}

summary {
  cursor: pointer;
}

pre {
  font-size: 14px !important;
}

.prose pre {
  margin: 1.6em 0 !important;
}

.prose details {
  margin: 0.375em 0;
}
